# mis archivos compilados y pesados
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
.gradle/

# mi configuracion local del editor
.idea/
local.properties
*.iml
.DS_Store
captures/
.externalNativeBuild
.cxx